{% extends 'lwLayout.html.twig' %}
{% block body %}
   <section class="title_page">

      <div class="section_content">

         <h1>POLITIQUE DE CONFIDENTIALITE</h1>

      </div>

   </section>

   <div class="body_content">

      <div class="content">

         <div id="contact">
         </div>
      </div>
   </div>

{% endblock %}