{% extends 'jdLayout.html.twig' %}
{% block body %}
    <article>
        <div>

        </div>
    </article>
    <section id="observations">
        {% for observation in oiseau.observation %}
        {% enfor %}

    </section>
{% endblock %}