{% extends "jdLayout.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-lg-10">

        </div>
    <div class="col-lg-2">
        <a href="{{ path('new_article')}}" class="btn btn-success">Créer un article</a>
    </div>
    </div>
    <table class="table table-striped">

        <thead>
        <tr>
            <td>Image</td>
            <td>Titre</td>
            <td>Date de publication</td>
            <td>Commentaires</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for article in articles  %}
        <tr>
            <td></td>
            <td>{{ article.title  }}</td>
            <td>{{ article.createdAt | date('d/m/Y') }}</td>
            <td></td>
            <td> <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}