{% extends 'lwLayout.html.twig' %}

{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>Page introuvable</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <h2>Page introuvable</h2>

            <p class="decallage"> OUPS !!! Cette requette ne peut pas aboutir <a href="{{ path('home') }}">Retour à la page d'accueil</a>.</p>



        </div>

    </div>
{% endblock %}