{% extends 'lwLayout.html.twig' %}
{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>CONTACT</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <div id="contact">

                <p>Contactez-nous au <span>33.12.74.49.00</span>, par mail à <span>contact@nao-app.fr</span> ou en utilisant notre <span>formulaire de contact</span> ci-dessous</p>

                <form>

                    <div id="input_nom">

                        <input type="text" name="name" id="name" placeholder="Entrez votre nom" />

                    </div>

                    <div id="input_prenom">

                        <input type="text" name="surname" id="surname" placeholder="Entrez votre prénom" />

                    </div>

                    <div id="input_email">

                        <input type="email" name="email" id="email" placeholder="Entrez votre email" />

                    </div>

                    <div id="input_telephone">

                        <input type="phone" name="phone" id="phone" placeholder="Entrez votre numéro de téléphone (facultatif)" />

                    </div>

                    <div id="input_sujet">

                        <input type="text" name="subject" id="subject" placeholder="Entrez l'objet de votre message" />

                    </div>

                    <div id="input_message">

                        <textarea name="message" id="message" placeholder="Entrez votre message"></textarea>

                    </div>

                    <div id="submit">

                        <button type="submit">Envoyer</button>

                    </div>

                </form>

            </div><!--end of id_content-->

        </div>

    </div>

{% endblock %}