{% extends 'lwLayout.html.twig' %}

{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>PRESENTATION</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <h2 class="souligner">Qui sommes-nous ?</h2>

            <p class="decallage">Notre association loi 1901, fondée par Michel Dujardin, vient de fêter ses 15 ans. Notre mission est de participer à la protection des espèces d’oiseaux et à la préservation de leur habitat. Faciliter l’échange et le partage d’informations a toujours été notre priorité pour permettre à tous les passionnés d’ornithologie d’en profiter.</p>

            <h2 class="souligner">Quel est notre objectif avec cette application ?</h2>

            <p class="decallage"> La technologie a changé la façon dont nous sommes en contact
                avec la nature et plus particulièrement les réserves naturelles. Grâce à l'application NAO,
                les participants prennent part à un programme de recherche visant à étudier les effets du climat,
                de l’urbanisation et de l’agriculture sur la biodiversité. Le but est de récolter un grand nombre
                d'informations, de les traiter et de créer une base de données qualitative afin de mettre ces informations
                à disposition des passionnés et des organismes.
            </p>
            <h2 class="souligner">Notre ambition </h2>

            <p class="decallage">Notre association œuvre au quotidien pour la protection des espèces, la préservation des espaces, l'éducation et la sensibilisation à l'environnement.

                Avec notre application NAO, nous souhaitons mettre en œuvre des plans nationaux de restauration d’oiseaux, notamment ceux les plus menacés de France, coordonner des programmes européens de sauvegarde d’espèces et gérer la réintroduction d’oiseaux menacés.
                Nous souhaitons également prendre part à des initiatives d’enquêtes nationales et internationales.
                En devenant une application référente dans l’observation et la protection des oiseaux, nous proposerons
                aux collectivités régionales et locales, notre expertise sur la protection des espèces et des habitats
                menacés, notamment lors de projets d’infrastructures.</p>

            <h2 class="souligner">Notre passion pour la nature</h2>

            <p class="decallage"> Chez NAO, nous soutenons une transition écologique dans laquelle le
                respect de la nature et la biodiversité joue une place centrale.
                Nous sommes convaincus que la préservation de la nature doit s'inscrire dans une réflexion globale et locale liée aux transports, à l'énergie,
                à l'urbanisme et à l'éco-responsabilité des organisations.
                La mission de l’application NAO répond à cet objectif : inscrire la biodiversité dans des actions liées à l’ornithologie et respectueuses de la nature.
            </p>



        </div>

    </div>
{% endblock %}