{% extends 'lwLayout.html.twig' %}

{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>PRESENTATION</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <h2>Qui sommes-nous ?</h2>

            <p class="decallage">Notre association loi 1901, fondée par Michel Dujardin, vient de fêter ses 15 ans. Notre mission est de participer à la protection des espèces d’oiseaux et à la préservation de leur habitat. Faciliter l’échange et le partage d’informations a toujours été notre priorité pour permettre à tous les passionnés d’ornithologie d’en profiter.</p>

            <h2>Quel est notre objectif avec cette application ?</h2>

            <p class="decallage"> La technologie a changé la façon dont nous sommes en contact avec les musées. Aujourd’hui, les institutions
                cherchent des moyens convaincants et originaux pour numériser et partager leurs collections avec les utilisateurs via
                des dispositifs originaux utilisant les supports populaires que nous portons avec nous chaque jour. Des visites de musées
                peuvent par exemple être simulées en parcourant les collections en ligne ou en téléchargeant des applications de guidage audio.
                Toutefois, un grand nombre de ces approches atteignent très vite leurs limites (faible volume de téléchargement et donc d’usage,
                contenus trop classiques, etc.)
                et ne disposent pas des éléments de base pour attirer les utilisateurs et inciter à leur utilisation massive
                C’est dans cette optique que le Studio réfléchit à de nouveaux outils et services et privilégie le développement d’ application de musée qui peut être utile pour le public tous les jours. Avec l’espoir de répondre à cette question, l’équipe du
                Studio a ainsi imagé une application conçue pour un usage quotidien: un réveil basé sur les collections du musée d’histoire naturelle.
                Il s’agit pour le Studio d’une « première incursion dans l’exploration du potentiel pour les musées de s’intégrer au sein de la vie quotidienne de ses publics en offrant des outils utilitaires
            </p>



        </div>

    </div>
{% endblock %}