{% extends 'lwLayout.html.twig' %}

{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>PRESENTATION</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <h2>Qui sommes-nous ?</h2>

            <p class="decallage">Notre association loi 1901, fondée par Michel Dujardin, vient de fêter ses 15 ans. Notre mission est de participer à la protection des espèces d’oiseaux et à la préservation de leur habitat. Faciliter l’échange et le partage d’informations a toujours été notre priorité pour permettre à tous les passionnés d’ornithologie d’en profiter.</p>

            <h2>Quel est notre objectif avec cette application ?</h2>

            <p class="decallage"> La technologie a changé la façon dont nous sommes en contact
                avec la nature et plus particulièrement les réserves naturelles. Grâce à l'application NAO,
                les participants prennent part à un programme de recherche visant à étudier les effets du climat,
                de l’urbanisation et de l’agriculture sur la biodiversité. Le but est de récolter un grand nombre
                d'informations, de les traiter et de créer une base de données qualitative afin de mettre ces informations
                à disposition des passionnés et des organismes.
            </p>



        </div>

    </div>
{% endblock %}